<header>
    Header
</header>
<br>
<%if(locals.user){%>
    <a href="/user/sign-out">Sign Out</a>
    <%}else{%>
        <a href="/user/sign-in">Sign In</a>
        <a href="/user/sign-up">Sign Up</a>
        <%}%>