<header>
    <div id="header-app-name">
        Codeial
    </div>
    <div id="header-sign-buttons">
        <%if(locals.user){%>
            <a href="/user/sign-out">Sign Out</a>
            <%}else{%>
                <a href="/user/sign-in">Sign In</a>
                <a href="/user/sign-up">Sign Up</a>
                <%}%>
    </div>
</header>