<link rel="stylesheet" href="/css/home.css">
<h1>
    Codeial /
    <%= title %>
</h1>
<section style="display: inline-block; width: 60%; border:2px solid blue">
    <h1>Posts</h1>
    <%if(locals.user){%>
        <!-- we have used locals.user and not user(sent by setAuthentictaedUser function defined in the passport config)
    because ,user can be undefined if no signedin user is there 
    , bcz, setAuthenticated user will not send "user"to the locals of views

    but locals.user cant be undefined , it can be just null , but it cant be undefined 

    so if we will use user the we will get an error when no use is signed in (try getting that error)

    that error will be "user is not defined" , this error will only be there if no user is signed in 
    -->
        <section id="make-post-section">
            <form action="/post/create" method="POST">
                <textarea name="content" id="" cols="30" rows="2"></textarea>
                <input type="submit" value="POST">
            </form>
        </section>
        <%}%>
            <div>
                <%for(post of posts){%>
                    <%- include('_post') -%>
                        <%}%>
            </div>
</section>
<section style="display: inline-block; width: 20%; border:2px solid blue;vertical-align: top;">
    <h1>Users</h1>
    <ul>
        <%for(codeial_user of users){%>
            <li>
                <a href="/user/profile/<%=codeial_user._id%>">
                    <%=codeial_user.name%>
                </a>
            </li>
            <%}%>
    </ul>
</section>