<link rel="stylesheet" href="/css/home.css">
<h1>
    Codeial /
    <%= title %>
</h1>
<section id="make-post-section">
    <form action="" method="POST">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="POST">
    </form>
</section>