<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial /
    <%= title %>
</h1>
<p>
    Name :
    <%= name %>
        <br> email :
        <%= email %>
            <br> password :
            <%= password %>
</p>